aws_region  = "us-east-1"
bucket_name = "hellobrittrose-site"
domain      = "hellobrittrose.com"
worker_name = "hellobritt-router"

cloudflare_api_token   = "changeme"
cloudflare_account_id  = "changeme"
cloudflare_zone_id     = "changeme"
admin_allowed_email    = "user@example.com"